body
{
  font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
  color: #8c7b7b;
  text-align: center;
}

#feed
{
  padding: 0 15vw 0 15vw;
}

@media (max-width: 1200px)
{
  #feed
  {
    padding: 0 5vw 0 5vw;
  }
}

@media (max-width: 400px)
{
  #feed
  {
    padding: 0;
  }
}

header h1
{
  color: #645151;
}